#container {
    width: 860px;
    height: 960px;
    border-width: 10px;
    border-style: solid;
    border-color: #E97777;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pixel {
    background-color: #FFFAD7;
    padding: 0px;
    margin: 0px;
    }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
}

.buttons {
    padding: 20px 40px;
    margin: 10px 0 10px;
    font-size: large;
    border-radius: 10px;
    background-color: #FCDDB0;
    border-color: #FFFAD7;
}